.footer {
   
    flex-wrap: wrap;
    /* justify-content: center;
    align-items: center; */
    padding: 10px;
    background-color:#61dafb;
  }
  
  .footer a {
    display: inline-block;
    margin: 0 5px;
    color: #555;
    font-size: 24px;
  }
  
  .footer a:hover {
    color: #000;
  }

  .heading{
    
    
    font-family: Segoe Print;
    color:#000000df;
    

  }
  
  .flex{
    display: flex;
    flex-wrap: wrap;
  }

  .shopping-cart{
    justify-content: space-between;
    background-color: #61dafb;
    padding: 20px 30px;
  }